{% extends "core/base.html" %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}
  <div class="login-page">
    <h2>Iniciar Sesión</h2>
    <form method="post">
      {% csrf_token %}
      <div>
        <label for="id_username">Usuario:</label>
        <input type="text" name="username" id="id_username" required>
      </div>
      <div>
        <label for="id_password">Contraseña:</label>
        <input type="password" name="password" id="id_password" required>
      </div>
      <button type="submit">Entrar</button>
    </form>
  </div>
{% endblock %}
