{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="es" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrarse | WebDev Blog</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Fuente Inter -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  {% block extra_head %}
      <link rel="stylesheet" href="{% static 'registrarse/css/registrarse.css' %}">
  {% endblock %}
  <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="login-container">
    <h2>Registrarse</h2>

    <!-- Mostrar errores generales del formulario -->
    {% if form.non_field_errors %}
      <ul class="messages">
        {% for error in form.non_field_errors %}
          <li class="alert alert-error">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form class="login-form" method="post">
      {% csrf_token %}
      <!-- Campo Nombre Completo -->
      <div class="form-group">
        <label for="id_fullname">Nombre Completo</label>
        <input type="text" id="id_fullname" name="fullname" placeholder="Tu nombre completo" required value="{{ form.fullname.value|default_if_none:'' }}">
      </div>
      <!-- Campo Email -->
      <div class="form-group">
        <label for="id_email">Correo Electrónico</label>
        <input type="email" id="id_email" name="email" placeholder="tuemail@ejemplo.com" required value="{{ form.email.value|default_if_none:'' }}">
      </div>
      <!-- Campo Contraseña -->
      <div class="form-group">
        <label for="id_password1">Contraseña</label>
        <input type="password" id="id_password1" name="password1" placeholder="********" required>
      </div>
      <!-- Campo Confirmar Contraseña -->
      <div class="form-group">
        <label for="id_password2">Confirmar Contraseña</label>
        <input type="password" id="id_password2" name="password2" placeholder="********" required>
      </div>
      <button type="submit">Registrarse</button>
    </form>

    <div class="login-footer">
      <p>¿Ya tienes una cuenta? <a href="{% url 'login:login' %}">Iniciar Sesión</a></p>
    </div>
  </div>

    {% if alert_message %}
    <!-- Modal de alerta -->
    <div id="alertModal" class="modal">
      <div class="modal-content">
        <!-- El estilo inline "white-space: pre-wrap" permite mostrar saltos de línea -->
        <p style="white-space: pre-wrap;">{{ alert_message }}</p>
        <button id="acceptButton">Aceptar</button>
      </div>
    </div>

    <script>
      document.getElementById('acceptButton').addEventListener('click', function() {
          window.location.href = "{{ redirect_url }}";
      });
    </script>
  {% endif %}

</body>
</html>
